Servers Component loading 2 servers
<input type="text" class="form-control" (input)="onUpdateServerName($event)"> {{serverName}}

<input type="text" [(ngModel)]="serverName">
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<p *ngIf="serverCreated, else noServer">{{ serverCreationStatus}}</p>

<ng-template #noServer>
  <p>No server was created
    <p></p>
</ng-template>


<app-server *ngFor="let server of servers; let i = index"></app-server>
